@charset "UTF-8";
@font-face {
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  src: url('entypo.eot') format('eot');
  src: url('entypo_iefix.eot') format('eot'),
       url('entypo.woff') format('woff'),
       url('entypo.ttf') format('truetype');
}
