@charset "UTF-8";
@font-face {
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  src: url('entypo.eot')
            format('eot'),
  url('entypo.ttf')
       format('truetype'),
}
