<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contact me! (Mailer doesn't work yet)</h5>
        <p class="grey-text text-lighten-4"> searching for a developer?
                                              Need a website?
                                              Other questions?
                                              Send me email below!</p>
        <div class="row">
          <%= render 'shared/contact_form' %>
        </div>
      </div>
      <div class="col l4 offset-l2 s12">
        <%= render 'shared/social_icons' %>
      </div>
    </div>
  </div>
  <div class="footer-copyright copy-border">
    <div class="container cont-foot">
      © 2016
      <a class="grey-text text-lighten-4 right"
         href="https://www.github.com/L03TJ3/lb-dev-portfolio">
         L-B Development(source)
      </a>
    </div>
  </div>
</footer>
