<nav>
  <div class="nav-wrapper">
    <ul style="font-size: 1.4em">
      <li class="left" style="cursor: pointer; font-size: 1.4em;">Contact</li>
      <li class="brand-logo center"><%= image_tag("logo-ph.png") %></li>

      <% if !user_signed_in? %>
        <li class="right r-head" style="cursor: pointer">
          <%= link_to "Login", new_user_session_path %>
        </li>
      <% else %>
        <li class="right r-head" style="cursor: pointer">
          <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<!-- Text that shows on the header image -->
<div class="head-img z-depth-2">
  <%= image_tag("header-bg.jpg", class: 'head-bg') %>
  <div class="header-text">
    "Always aim for the top"
  </div>
</div>
