<nav>
  <div class="nav-wrapper">
    <ul style="font-size: 1.4em">
      <li class="left" style="cursor: pointer">Contact</li>
      <li class="brand-logo center"><%= image_tag("logo-ph.png") %></li>
      <li class="right" style="cursor: pointer">Login</li>
    </ul>
  </div>
</nav>
<div class="head-img z-depth-2">
  <%= image_tag("header-bg.jpg", class: 'head-bg') %>
  <div class="header-text">
    "Always aim for the top"
  </div>
</div>
