<div class="menu-bar">
  <ul style="font-size: 1.4em">
    <li class="waves-effect waves-light">
      <%= link_to "Home", root_path %>
    </li> |
    <li class="waves-effect waves-light">
      <%= link_to "Projects", projects_path %>
    </li> |
    <li class="waves-effect waves-light">
      <%= link_to "About", '#' %>
    </li>
  </ul>
</div>

<!-- Dividing line -->
<hr class="z-depth-2" />
