<div class="menu-bar">
  <ul style="font-size: 1.4em">
    <li><%= link_to "Home", root_path %></li> |
    <li><%= link_to "Projects", '#' %></li> |
    <li><%= link_to "About", '#' %></li>
  </ul>
</div>

<hr class="z-depth-2" />
