<div class="social-icons">
  <h5 class="white-text">Find me on:</h5>
  <div class="social__item">
    <a
      target="_blank"
      href="https://nl.linkedin.com/in/laurence-weening-02937352"
      class="social__icon--linkedin">
    <i class="icon--linkedin"></i>
  </a>
  </div>
  <div class="social__item">
    <a
      target="_blank"
      href="http://github.com/L03TJ3"
      class="social__icon--github">
      <i class="icon--github"></i>
    </a>
  </div>
</div>
