<div class="container home-cont">
  <div class="row">
    <div class="col s12">
      <div class="card-panel hoverable">
        <div class="my-image center">
          <%= cl_image_tag("unspecified_igvb3f.jpg",
                            class:"responsive-img circle profile") %>
        </div>
        <div class="content">
          <blockquote>
            <p>Hi! I am Laurence. Welcome to my portfolio website V1.
               I am a web developer, and here I will show all the
               latest projects that I have worked on, or am going to work
               on. Click on the projects tab to look at some projects I
               have worked on.
               Want to know more about me, check the about page.
               Contact me? Unfortunatly the form below doesn't work yet,
               but you can send me an email at: laurenceweening@gmail.com</p>
          </blockquote>
          <h5 style="text-align: center;">Have a great Day. Cheers!</h5>
        </div>
      </div>
    </div>
  </div>
</div>
