<div class="container home-cont">
  <div class="row">
    <div class="col s12">
      <div class="card-panel hoverable">
        <div class="my-image center">
          <%= image_tag("unspecified.jpeg", class:"responsive-img circle profile") %>
        </div>
        <div class="content">
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Cave putes quicquam esse verius. Dicet pro me ipsa virtus
              nec dubitabit isti vestro beato M. Et certamen honestum et
              disputatio splendida! omnis est enim de virtutis dignitate
              contentio. Quid ergo hoc loco intellegit honestum? Negabat
              igitur ullam esse artem, quae ipsa a se proficisceretur;
              Duo Reges: constructio interrete. Cur igitur, inquam, res
              tam dissimiles eodem nomine appellas? Sed quid attinet de rebus
              tam apertis plura requirere? </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
