<div class="row">
  <% @projects.each do |p| %>
    <div class="col s4">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag( p.image.url , class: 'activator') %>
        </div>
        <div class="card-content project center">
          <span class="card-title activator grey-text text-darken-4">
            <%= p.title %>
            <p>
            <a
              class=
                "waves-effect waves-light btn modal-trigger read-more"
              href=
                "#modal<%= p.id %>">Read More
              </a>
            </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
