<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <% if user_signed_in? %>
          <% if are_you_admin? %>
            <%= link_to "Add new project", projects_new_path,
                class: 'waves-effect waves-light btn modal-trigger right' %>
          <% end %>
        <% end %>
        <h4 class="center proj-title"> My Projects</h4>
        <hr class="z-depth-1" />
        <%= render 'proj_overview' %>
      </div>
    </div>
  </div>
</div>
<%= render 'proj_modal' %>
