/* Container on home page */
.home-cont {
  margin-top: 2.5%;
  width: 50%;
}

/* Border color for text in home-container */
blockquote {
  border-left: 5px solid #304b6b;
}

/* Profile picture size */
.profile {
  width: 250px;
  height: 250px;
}
