.form {
  width: 25%;
  height: auto;
}

.left-auth {
  margin-left: 2%;
  margin-top: 5px;
}

.right-auth {
  float: right;
  margin-top: 2%;
  margin-right: 2%;
}

.alert {
  background: red;
}

.notice {
  background: green;
  width: 20%;
}
