.read-more {
  font-size: 1.2rem;
}

/* the footer in the projects modals */
.proj-mod-footer {
  border-top: 1px solid black;
}

.modal-image {
  width: 65%;
  height: auto;
}

.middle {
  margin-right: 10%;
}

.proj-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.proj-content {
  font-size: 1.35rem;
  text-align: center;
}

.tags {
  display: inline-block;
  font-size: 1rem;
  background-color: #BB2B2B;
  color: white;
}

.card {
  background-color: #E8E8E8;
}
