.read-more {
  font-size: 1.2rem;
}

/* the footer in the projects modals */
.proj-mod-footer {
  border-top: 1px solid black;
}

.modal-image {
  width: 65%;
  height: auto;
}

.middle {
  margin-right: 10%;
}
